html {
  color: black;
  background-color: black;
  font-family: Arial;

  /* Disable Scrolling */
  overflow: hidden;
}

span{
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body {
  padding: 0;
  margin: 0;
  height: 100vh;
  width: 100vw;
  text-align: center;
  background-color: #000;
  color: #f0f0f0;
  background-image: url('https://t3.ftcdn.net/jpg/05/78/13/66/360_F_578136654_tqYbJtgHfCck2IKJv5zVy2aUwoV17aJO.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

#canvas3d-container {
  height: 70vh;
  width: 100vw;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0);
}

#canvas2d-container {
  width: 100vw;
  min-height: 30vh;
  position: relative;
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(10px);

  border-radius: 40px;
  border: 1px solid rgba(255, 255, 255, 0.1);
}

#canvas2d,
#overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

#canvas3d {
  width: 150vh !important;
  background-color: rgba(0, 0, 0, 0);
}

circle {
  fill: rgb(255, 0, 0);
  stroke: white;
  stroke-width: 1px;
  r: 5px;
}

circle:hover {
  fill: rgb(0, 0, 255);
  cursor: hand;
  stroke-width: 4px;
  stroke: rgb(0, 0, 255);
}

#p4{
  fill: white !important;
  stroke: white !important;
  /* stroke-dasharray: 2, 10 !important; */
  stroke-width: 1px !important;
  r: 3px !important;
}

line {
  stroke: white;
  stroke-width: 2px;
  stroke-dasharray: 2, 10;
}

path {
  stroke: rgb(170, 170, 170);
  stroke-width: 2px;
  stroke-dasharray: 2, 10;
  fill: none;
}
